<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercangola - {% block title %} {% endblock %}</title>

  {% include "dashboard/links-css.html"%}
</head>
  <body>
    {% include 'dashboard/side-bar.html' %}

    <main class="dashboard-main">
          {% include 'dashboard/navbar-header.html' %}

        <div class="dashboard-main-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
                  <h6 class="fw-semibold mb-0">Blank Page</h6>
                  <ul class="d-flex align-items-center gap-2">
                    <li class="fw-medium">
                      <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
                        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
                        Dashboard
                      </a>
                    </li>
                    <li>-</li>
                    <li class="fw-medium">Blank Page</li>
                  </ul>
            </div>
            <div class="row gy-4">
              {% block content %} {% endblock %}
            </div>

        </div>
        <footer class="d-footer">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <p class="mb-0">© 2025 Mercangola. Todos os direitos reservados.</p>
            </div>
            <div class="col-auto">
              <p class="mb-0">Feito por <span class="text-primary-600">NextKode</span></p>
            </div>
          </div>
        </footer>
    </main>

  {% include "dashboard/links-js.html"%}
</body>
</html>