<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets-1/images/favicon.png') }}" sizes="16x16">
<!-- remix icon font css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/remixicon.css') }}">
<!-- BootStrap css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/bootstrap.min.css') }}">
<!-- Apex Chart css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/apexcharts.css') }}">
<!-- Data Table css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/dataTables.min.css') }}">
<!-- Text Editor css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/editor-katex.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/editor.atom-one-dark.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/editor.quill.snow.css') }}">
<!-- Date picker css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/flatpickr.min.css') }}">
<!-- Calendar css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/full-calendar.css') }}">
<!-- Vector Map css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/jquery-jvectormap-2.0.5.css') }}">
<!-- Popup css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/magnific-popup.css') }}">
<!-- Slick Slider css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/slick.css') }}">
<!-- prism css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/prism.css') }}">
<!-- file upload css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/file-upload.css') }}">
<!-- audioplayer css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/lib/audioplayer.css') }}">
<!-- main css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets-1/css/style.css') }}">
