<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Mercangola</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public/login.css') }}">
</head>
<body>
   <!-- Container Centralizado -->
    <div class="login-container">
        <div class="login-box">

            <!-- Logo -->
            <div class="text-center">
                {% set dynamic_url = url_for('public.home') %}
                {% include 'includes/logo.html' %}
            </div>

            <h2 class="text-center">Entrar na Mercangola</h2>

            <!-- Formulário de Login -->
            <form id="loginForm" method="POST" action="{{ url_for('public.login') }}">
                <div class="form-group">
                    <label for="email"><i class="fas fa-envelope"></i> Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu email" required>
                </div>

                <div class="form-group">
                    <label for="password"><i class="fas fa-lock"></i> Senha</label>
                    <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Digite sua senha" required>
                        <button type="button" class="btn btn-outline-secondary toggle-password">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>

                <button type="submit" class="btn btn-login">Entrar</button>
            </form>

            <p class="text-center mt-3">
                <a href="{{ url_for('public.forgot_password') }}">Esqueci minha senha</a>
            </p>

            <p class="text-center mt-2">
                Ainda não tem uma conta? <a href="{{ url_for('public.register') }}">Criar conta</a>
            </p>

        </div>
    </div>


    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <!-- js puro -->
    <script src="{{ url_for('static', filename='js/public/login.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
